@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");

html {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Nanum Gothic Coding", monospace;
  background-color: #f7f5f5;
}

.header {
  background-color: #f7f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
}

h1 {
  font-size: 50px;
  letter-spacing: 0.4rem;
  color: #202020;
  padding: 10px;
  margin: 5px;
}

main {
  margin: 3em;
  background-color: #f7f5f5;
  padding: 20px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.beast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: dashed 5px #e0bf05;
  background-color: #d7e7e2;
  width: 300px;
  margin: 20px auto;
}

img {
  width: 150px;
  height: auto;
}

.footer {
  color: #f7f5f5;
  text-shadow: #e0003c 0.5px 0 8px;
  background-color: #707070;
  display: flex;
  width: 100vw;
  height: 80px;
  align-items: center;
  justify-content: center;
}
